html, body {
    height: 100%; /* Asegura que html y body cubran toda la pantalla */
    margin: 0;
    padding: 0;
}

*{
    position: relative; /* Todo el contenido debe estar por encima de la capa */
    z-index: 2;
    color: white;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.1;
}

body{
    background-image: url("images/fondog.png");
    width: 100%;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Escala la imagen para cubrir toda la página */
    background-position: center; /* Centra la imagen en la página */
    background-attachment: fixed; /* Hace que la imagen de fondo quede fija al hacer scroll */
    margin: 0; /* Elimina márgenes por defecto del body */
    padding: 0; /* Elimina padding por defecto del body */
    height: 100vh;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Capa negra semitransparente */
    z-index: 1; /* La capa negra */
    pointer-events: none;
}

.lo{
    margin-top: 7px;
    max-width: 310px;
    height: auto ;
        text-align: center;
    }

.lexsoundcabeza{
    margin-top: 30px;
}

.LAW{
    margin-top: 25px;

    font-size: 42px;
    
}


.hello{
    margin-bottom: 50px;
    
}

.myportfolio{ 
    font-size: 32px;
    margin-top: 45px;
    margin-bottom: 20px;

}

.trabajos {
    display: inline-block; /* Hace que el contenedor del proyecto sea un bloque en línea */
    background-color: rgba(72, 48, 23, 0.7); /* Fondo oscuro semi-transparente */
    color: white;
    padding: 20px;
    margin: 20px 10px; /* Margen vertical y horizontal */
    border-radius: 15px;
    width: 30%; 
    max-width: 600px;
    font-size: 18px;
}

.soc{
    margin-top: 42px;
    font-size: 25px;
}
.pp{
    font-size: 21px;
}

.boton-redondeado {
    display: inline-block;
    padding: 10px 10px;
    background-color: #af0e0e; /* Color de fondo */
    border: none; /* Sin borde */
    border-radius: 50px; /* bordes redondeados */
    margin-bottom: 120px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.15s; /* Efecto transición */
}

/* Cambia el color del botón al pasar el mouse */
.boton-redondeado:hover {
    background-color: #a04545;
}

/* Estilos de la imagen dentro del botón */
.boton-redondeado img {
    height:41px; /* Ajusta la altura de la imagen */
    width: 41px; /* Mantiene la proporción de la imagen */
    object-fit: contain;
}
.boton-redondeado:hover img {
    transform: scale(1.1); /* Aumenta el tamaño en un 10% */
}
.correo{
    margin-top: 42px;
    font-size: 32px;
    
}

.btn{
    display: center;
    padding: 10px 15px;
    background-color: #af0e0e; 
    color: white; 
    border: none; 
    border-radius: 50px; 
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.15s; 
    position: center;
    background-color: #af0e0e;
    margin-top: 20px;
    margin-bottom: 35px;
    text-decoration: underline;
    height: 45px;  /* Un poco más que el valor estimado de 42px */
    width: 158px;
}

.btn:hover{
    background-color: #a04545;
    font-size: 23px;
}